body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .SearchBox {
    text-align: center;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  